# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Git
.git
.gitignore

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
logs/

# Tests
tests/

# Cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

