# ---------------------------------------
# MongoDB
# ---------------------------------------
MONGO_URI=mongodb://localhost:27017
DATABASE_NAME=backend_db

# ---------------------------------------
# JWT
# ---------------------------------------
SECRET_KEY=your_super_secret_key
ALGORITHM=HS256

# ---------------------------------------
# Token Expiry
# ---------------------------------------
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
RESET_TOKEN_EXPIRE_MINUTES=15

# ---------------------------------------
# SMTP
# ---------------------------------------
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

