# ---------------------------------------
# Python
# ---------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---------------------------------------
# Virtual Environment
# ---------------------------------------
venv/
.env
.env.*

!.env.example

# ---------------------------------------
# IDE
# ---------------------------------------
.vscode/
.idea/

# ---------------------------------------
# Logs
# ---------------------------------------
logs/
*.log

# ---------------------------------------
# Uploads
# ---------------------------------------
app/uploads/profile_images/

# ---------------------------------------
# Docker
# ---------------------------------------
*.tar

# ---------------------------------------
# Build
# ---------------------------------------
dist/
build/
*.egg-info/

# ---------------------------------------
# Testing
# ---------------------------------------
.pytest_cache/
.coverage
coverage.xml

# ---------------------------------------
# Database
# ---------------------------------------
*.db

# ---------------------------------------
# Node
# ---------------------------------------
frontend/node_modules/
frontend/dist/

# ---------------------------------------
# OS
# ---------------------------------------
.DS_Store
Thumbs.db

