# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Uploads
app/uploads/profile_images/

# Docker
*.tar

# OS
.DS_Store
Thumbs.db

.pytest_cache/
.coverage
coverage.xml

.env.*
!.env.example

*.db

dist/
build/

*.egg-info/

.vscode/settings.json